@mixin title-font {
  font-family: "Georgia", "Times", "Times New Roman", Serif, serif;
}

@mixin title-font-color-in-dark {
  color: white;
}

@mixin secondary-font-color-in-dark {
  color: #e0e0e0;
}
$main-title-font-color: #ffffff;

// for pins component
@mixin pin-detail-font-size{
  font-size: 12px;
}

@mixin description-font {
  @include pin-detail-font-size;
  font-family: 'Georgia', 'Times', 'Times New Roman', serif;
}

@mixin secondary-font {
  @include pin-detail-font-size;
  color: #e0e0e0;
  font-weight: normal;
}